.nav-items {
  text-decoration: none;
}
.logo {
  height: 150px;
  width: 190px;
  margin-right: 140px;
}
.main-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
  align-items: center;
  border-bottom: 1px solid black;
}
.nav-items{
  display: flex;
  flex-direction: row;
}
.free-lesson {
font-size: 20px;


}
.nav-item{
  display: flex;
  flex-direction: row;
  width: 100px;

}